
<!-- Page container -->
<div class="page-container" @page>
  
      <!-- Page content -->
      <div class="page-content">
  
        <!-- Main content -->
        <div class="content-wrapper">
  
                  <div class="row">
                <div class="col-md-8 col-md-offset-2" @industryanimation>
                          <!-- Pager -->
                          <div class="panel panel-flat width-500">
                                  <div class="panel-heading">
                                  <h5 class="panel-title">Follow your interest</h5>
                                          <span class="media-annotation">You can follow news feeds relevant to you and your industry, then we can send you daily breifs based on tour interest</span>
                                  </div>
                                  
                                  <div class="panel-body">
                                          <div class="row">
                                                  <div class="col-md-3 text-center">
                                                          <button type="button" class="btn btn-info btn-float btn-float-lg" (click)="toggleInterest('Science & Technology')"><i class="icon-laptop"></i></button>
                                                          <p>Science & Technology</p>
                                                          <button *ngIf="!interests['Science & Technology']" type="button" class="btn btn-default" (click)="toggleInterest('Science & Technology')"><i class="icon-plus3 position-left"></i> Follow</button>
                                                          <button *ngIf="interests['Science & Technology']" type="button" class="btn btn-default selected" (click)="toggleInterest('Science & Technology')"><i class="icon-plus3 position-left"></i> Following</button>
                                                  </div>
                                          
                                                  <div class="col-md-3 text-center">
                                                          <button type="button" class="btn btn-info btn-float btn-float-lg" (click)="toggleInterest('Banking & Finance')"><i class="icon-cash4"></i></button>
                                                          <p>Banking & Finance</p>
                                                          <button *ngIf="!interests['Banking & Finance']" type="button" class="btn btn-default" (click)="toggleInterest('Banking & Finance')"><i class="icon-plus3 position-left"></i> Follow</button>
                                                          <button *ngIf="interests['Banking & Finance']" type="button" class="btn btn-default selected" (click)="toggleInterest('Banking & Finance')"><i class="icon-plus3 position-left"></i> Following</button>
                                                  </div>
                                                                  
                                                  <div class="col-md-3 text-center">
                                                          <button type="button" class="btn btn-info btn-float btn-float-lg" (click)="toggleInterest('Real Estate')"><i class="icon-city"></i></button>
                                                          <p>Real Estate</p>
                                                          <button *ngIf="!interests['Real Estate']" type="button" class="btn btn-default" (click)="toggleInterest('Real Estate')"><i class="icon-plus3 position-left"></i> Follow</button>
                                                          <button *ngIf="interests['Real Estate']" type="button" class="btn btn-default selected" (click)="toggleInterest('Real Estate')"><i class="icon-plus3 position-left"></i> Following</button>
                                                  </div>
                                                                  
                                                  <div class="col-md-3 text-center">
                                                          <button type="button" class="btn btn-info btn-float btn-float-lg" (click)="toggleInterest('Sales & Marketing')"><i class="icon-laptop"></i></button>
                                                          <p>Sales & Marketing</p>
                                                          <button *ngIf="!interests['Sales & Marketing']" type="button" class="btn btn-default" (click)="toggleInterest('Sales & Marketing')"><i class="icon-plus3 position-left"></i> Follow</button>
                                                          <button *ngIf="interests['Sales & Marketing']" type="button" class="btn btn-default selected" (click)="toggleInterest('Sales & Marketing')"><i class="icon-plus3 position-left"></i> Following</button>
                                                  </div>  
                                          </div>
                                          <div class="row"><p></p></div>
                                           <div class="row">                
                                                  <div class="col-md-3 text-center">
                                                          <button type="button" class="btn btn-info btn-float btn-float-lg" (click)="toggleInterest('Politics')"><i class="icon-library2"></i></button>
                                                          <p>Politics</p>
                                                          <button *ngIf="!interests['Politics']" type="button" class="btn btn-default" (click)="toggleInterest('Politics')"><i class="icon-plus3 position-left"></i> Follow</button>
                                                          <button *ngIf="interests['Politics']" type="button" class="btn btn-default selected" (click)="toggleInterest('Politics')"><i class="icon-plus3 position-left"></i> Following</button>
                                                  </div>
  
                                                  <div class="col-md-3 text-center">
                                                          <button type="button" class="btn btn-info btn-float btn-float-lg" (click)="toggleInterest('Health & Drugs')"><i class="icon-aid-kit"></i></button>
                                                          <p>Health & Drugs</p>
                                                          <button *ngIf="!interests['Health & Drugs']" type="button" class="btn btn-default" (click)="toggleInterest('Health & Drugs')"><i class="icon-plus3 position-left"></i> Follow</button>
                                                          <button *ngIf="interests['Health & Drugs']" type="button" class="btn btn-default selected" (click)="toggleInterest('Health & Drugs')"><i class="icon-plus3 position-left"></i> Following</button>
                                                  </div>
  
                                                  <div class="col-md-3 text-center">
                                                          <button type="button" class="btn btn-info btn-float btn-float-lg" (click)="toggleInterest('Engineering')"><i class="icon-cogs"></i></button>
                                                          <p>Engineering</p>
                                                          <button *ngIf="!interests['Engineering']" type="button" class="btn btn-default" (click)="toggleInterest('Engineering')"><i class="icon-plus3 position-left"></i> Follow</button>
                                                          <button *ngIf="interests['Engineering']" type="button" class="btn btn-default selected" (click)="toggleInterest('Engineering')"><i class="icon-plus3 position-left"></i> Following</button>
                                                  </div>
  
                                                  <div class="col-md-3 text-center">
                                                          <button type="button" class="btn btn-info btn-float btn-float-lg" (click)="toggleInterest('Law')"><i class="icon-law"></i></button>
                                                          <p>Law</p>
                                                          <button *ngIf="!interests['Law']" type="button" class="btn btn-default" (click)="toggleInterest('Law')"><i class="icon-plus3 position-left"></i> Follow</button>
                                                          <button *ngIf="interests['Law']" type="button" class="btn btn-default selected" (click)="toggleInterest('Law')"><i class="icon-plus3 position-left"></i> Following</button>
                                                  </div>
                                          </div>
                                  </div>
  
                                  <div class="panel-footer">
                                          <div class="heading-elements">
                                                  <span class="heading-text text-semibold"></span>
                                                  <ul class="pager pager-xs pull-right">
                                                          
                                                          <!-- <li><a routerLink=""> Continue </a></li> -->
                                                          <li><button class="btn btn-info" (click)="submitInterest()"> Continue to login</button></li>
                                                  </ul>
                                          </div>
                                  </div>
                              </div>
                              <!-- /pager -->
                            </div>
                          </div>
                                
  
                          </div>
        <!-- /main content -->
  
      </div>
      <!-- /page content -->
  
    </div>
    <!-- /page container -->  